save_dir: /vol/data/trainings/omega/1to50hz/brainomni_tok/8x
resume_from: null

model_name: BrainOmniCausalTokenizer
loss_name: BrainOmniCausalTokenizerLoss
model_config: configs/brainomni_tok/tokenizer8x_sensor.yaml

datasplitter:
  dataset_class: ChunkDatasetSensor3D
  dataset_root: /vol/data/datasets/omega/full/1to50hz_cont
  example_seconds: 10.24
  overlap_seconds: 0.0
  val_ratio: 0.1
  test_ratio: 0.1
  refresh_cache: false  # need to refresh if any datasplitter args change
  cache_dir: /vol/data/datasets/omega/full/cache/1to50hz_cont_10.24s

dataloader:
  batch_size: 32
  num_workers: 16
  prefetch_factor: 4
  pin_memory: true
  persistent_workers: true

eval_runner:
  enabled: true
  use_modal: true
  modal_app: brain-gen
  modal_function: runevals
  max_batches: 1000
  num_examples: 5

lightning:
  lr: 2.0e-4
  weight_decay: 0.0
  lr_scheduler:
    class_name: CosineAnnealingLR
    eta_min: 1.0e-4
    T_max: 200

trainer:
  tune_batch_size: true
  max_epochs: 200
  accelerator: cuda
  check_val_every_n_epoch: 1
  checkpoint_cadence_epochs: 1
  log_every_n_steps: 200
  precision: bf16-mixed
  gradient_clip_val: 1.0
  early_stopping:
    monitor: val_loss
    patience: 10
