trf_class: Qwen2_5_Video
hidden_size: 1200
vocab_size: 16384
input_shape: [5760, 274, 4]  # T, H, W
spatial_reduction: [34, 1]
temporal_reduction: 8

tokenizer_path: /vol/data/trainings/omega/1to50hz/brainomni_tok/8x/logs/version_0/checkpoints/best-checkpoint-epoch00009.ckpt

trf_args:
  intermediate_size: 4560
  num_hidden_layers: 12  # 36 in 3B model
  head_dim: 120
  num_attention_heads: 10
  num_key_value_heads: 2
  attention_dropout: 0.0
  
  max_position_embeddings: 32768  # should be higher than T' x H' x W'
  rope_theta: 1000000.0
  rope_scaling:
    mrope_section: 20
    rope_type: default

  _attn_implementation: sdpa
